[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MTAR"]
	path = MTAR
	url = https://github.com/cran/MTAR
	shallow = true
	registered = true
